body {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5em;
  font-family: Roboto, Arial, sans-serif;
  color: #323232;
  background-color: #ffffff;
}

h1,
h2 {
  line-height: 1.5;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 24px;
}

/* SVG Sprite */

.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(img/sprite.svg);
}
.icon-caw {
    width: 32px;
    height: 32px;
    background-position: 0 0;
}
.icon-checkbox-bold {
    width: 32px;
    height: 32px;
    background-position: -48px 0;
}
.icon-checkbox-thin {
    width: 32px;
    height: 32px;
    background-position: -96px 0;
}
.icon-fb {
    width: 32px;
    height: 32px;
    background-position: -144px 0;
}
.icon-footer-logo {
    width: 94px;
    height: 32px;
    background-position: -192px 0;
}
.icon-heart {
    width: 37px;
    height: 32px;
    background-position: -336px 0;
}
.icon-icecream {
    width: 32px;
    height: 32px;
    background-position: -384px 0;
}
.icon-insta {
    width: 32px;
    height: 32px;
    background-position: -432px 0;
}
.icon-leaf {
    width: 32px;
    height: 32px;
    background-position: -480px 0;
}
.icon-login {
    width: 34px;
    height: 32px;
    background-position: -528px 0;
}
.icon-login-black {
    width: 34px;
    height: 32px;
    background-position: -576px 0;
}
.icon-logo {
    width: 77px;
    height: 32px;
    background-position: -624px 0;
}
.icon-magnifiy-black {
    width: 32px;
    height: 32px;
    background-position: 0 -48px;
}
.icon-magnify {
    width: 32px;
    height: 32px;
    background-position: -48px -48px;
}
.icon-radio-bold {
    width: 32px;
    height: 32px;
    background-position: -96px -48px;
}
.icon-radio-thin {
    width: 32px;
    height: 32px;
    background-position: -144px -48px;
}
.icon-termometer {
    width: 32px;
    height: 32px;
    background-position: -192px -48px;
}
.icon-tw {
    width: 32px;
    height: 32px;
    background-position: -240px -48px;
}
.icon-vk {
    width: 32px;
    height: 32px;
    background-position: -288px -48px;
}
